<%- include("templates/header") %>
<div class="container mt-5">
  <h2>Your Availability Data</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Day of the Week</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
    </thead>
    <tbody>
      <% availabilityData.forEach(function(data) { %>
        <tr>
          <td><%= data.dayOfWeek %></td>
          <td><%= data.date %></td>
          <td><%= data.startTime %></td>
          <td><%= data.endTime %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <a href="/timeForm" class="btn btn-primary">Update Time Form</a>
</div>
<%- include("templates/footer") %>
