<%- include("templates/header") %>
<div class="alert alert-success collapse fixed-top text-center" id="success-message" role="alert"></div>
<div class="alert alert-danger collapse fixed-top text-center" id="error-message" role="alert"></div>
    <!-- Info modal -->
    <div class="modal fade" id="exerciseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exerciseModalTitle">Exercise name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button><br>
                </div>
                <div class="modal-body">
                    <p id="modalBodyPart" style="color: black;">Target area</p>
                    <p id="modalIntensity" style="color: black;">Intensty</p>
                    <img id="modalAnimation" src="" width="80%">
                    <h6 id="instruction-title" style="color: black;">Instructions</h6>
                    <div id="modalInstructions"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Exercise feed -->
    <div class="container">
        <div id="valid-session-home-container" class="container-fluid col-lg-6 col-md-8 col-sm-10 align-self-center px-4 mt-5">
          <h1 id="HelloTitle" class="ml-3" data-username='<%= name %>'>Hello, <%= name %>!</h1>
          <div class="row mx-auto mt-5">
            <div class="col" id="userRoutine">
              <h2>Your Routine</h2>
              <%- dayCards %>
            </div>
          </div>
          <br>
        </div>
      </div>
      
<%- include("templates/footer") %>

<script>
    const head = document.querySelector('head');
    const link = document.createElement('link');

    link.rel = 'stylesheet';
    link.href = 'css/index_validSession.css';

    head.appendChild(link);
</script>
<script src="/js/callReplace.js"></script>
<script src="/js/callDelete.js"></script>
<script src="./js/showExerciseInfo.js"></script>
<script>
    let exercises = document.querySelectorAll('.exercise-card');

    exercises.forEach(exercise => {
        let link = exercise.querySelector('.info-link');
        link.addEventListener("click", () => {
            console.log(exercise.getAttribute('exerciseTarget'))
            showExerciseInfo(
                exercise.getAttribute('exerciseName'),
                exercise.getAttribute('exerciseTarget'),
                exercise.getAttribute('exerciseIntensity'),
                exercise.getAttribute('exerciseAnimation'),
                exercise.getAttribute('exerciseInstructions')
            )
        })
        // console.log(exercise.attributes.exerciseName);
    });

    // let populateModal = addExerciseInfo(
    //                     formatExerciseName, 
    //                     "something", 
    //                     exercise.intensity,
    //                     './img/dumbbell.png',
    //                     '<ol><li>one</li><li>two</li></ol>');
</script>