<%- include("templates/header") %>
    <style>
        .form-range {
            width: 90%;
        }

        .form-range-value {
            width: 20px;
            text-align: center;
            margin-left: 10px;
            font-weight: bold;
            color: white;
        }
    </style>
    <section style="background-color: #1B2021;">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-dark rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0 bg-dark">
                            <li class="breadcrumb-item text-light">
                                <%= name %>'s User Profile
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center bg-dark text-light">
                            <img src="https://i.kym-cdn.com/editorials/icons/mobile/000/000/705/derp.jpg" alt="avatar"
                                class="rounded-circle img-fluid" style="width: 150px; height: 150px;">
                            <h5 class="my-3">
                                <%= name %>
                            </h5>
                            <p class="text mb-1">
                                <%= email%>
                            </p>
                            <p class="text mb-4">User Type: <%= user_type %>
                            </p>
                            <div class="d-flex justify-content-center mb-2">
                                <button type="button" id="editButton" class="btn btn-outline-success">Edit
                                    Profile</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4 bg-dark">
                        <div class="card-body">
                            <form action="/profileUpdate" method="post" id="profileForm" class="bg-dark">
                                <div class="row mb-3">
                                    <label for="name" class="col-sm-3 col-form-label">Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="name" id="name"
                                            value="<%= name %>" readonly>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <label for="email" class="col-sm-3 col-form-label">Email</label>
                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" name="email" id="email"
                                            value="<%= email%>" readonly>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <label for="availability" class="col-sm-3 col-form-label">Availability</label>
                                    <div class="col-sm-9">
                                        <button type="button" id="scheduleButton" class="btn btn-outline-info">Check Out
                                            Schedule</button>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <label for="exercise-types" class="col-sm-3 col-form-label">Exercise
                                        Preference</label>
                                    <div class="col-sm-9">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="exerciseTypes" value="cardio" id="cardio" <% if
                                                (exerciseTypes.includes('cardio')) { %>checked<% } %>>
                                                <label class="form-check-label" for="cardio">
                                                    Cardiovascular exercises
                                                </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="exerciseTypes" value="strength training" id="strength training" <% if
                                                (exerciseTypes.includes('strength training')) { %>checked<% } %>>
                                                <label class="form-check-label" for="strength training">
                                                    Strength training exercises
                                                </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="exerciseTypes" value="flexibility" id="flexibility" <% if
                                                (exerciseTypes.includes('flexibility')) { %>checked<% } %>>
                                                <label class="form-check-label" for="flexibility">
                                                    Flexibility exercises
                                                </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="exerciseTypes" value="balance" id="balance" <% if
                                                (exerciseTypes.includes('balance')) { %>checked<% } %>>
                                                <label class="form-check-label" for="balance">
                                                    Balance exercises
                                                </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="exerciseTypes" value="high-intensity" id="high-intensity" <% if
                                                (exerciseTypes.includes('high-intensity')) { %>checked<% } %>>
                                                <label class="form-check-label" for="high-intensity">
                                                    High-Intensity Interval Training (HIIT)
                                                </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="exerciseTypes" value="low-impact" id="low-impact" <% if
                                                (exerciseTypes.includes('low-impact')) { %>checked<% } %>>
                                                <label class="form-check-label" for="low-impact">
                                                    Low-impact exercises
                                                </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="exerciseTypes" value="Sports-specific" id="sport specific" <% if
                                                (exerciseTypes.includes('sport specific')) { %>checked<% } %>>
                                                <label class="form-check-label" for="sport specific">
                                                    Sports-specific exercises
                                                </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="exerciseTypes" value="functional" id="functional" <% if
                                                (exerciseTypes.includes('functional')) { %>checked<% } %>>
                                                <label class="form-check-label" for="functional">
                                                    Functional training exercises
                                                </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="exerciseTypes" value="bodyweight" id="bodyweight" <% if
                                                (exerciseTypes.includes('bodyweight')) { %>checked<% } %>>
                                                <label class="form-check-label" for="bodyweight">
                                                    Bodyweight exercises
                                                </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="exerciseTypes" value="endurance" id="endurance" <% if
                                                (exerciseTypes.includes('endurance')) { %>checked<% } %>>
                                                <label class="form-check-label" for="endurance">
                                                    Endurance exercises
                                                </label>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <label for="weight" class="col-sm-3 col-form-label">Weight</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="weight" id="weight" readonly>
                                            <% for (let i=1; i <=999; i++) { %>
                                                <option value="<%= i %>" <% if (i==weight) { %>selected<% } %>><%= i %>
                                                            lbs</option>
                                                <% } %>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3 align-items-center">
                                    <label for="experience" class="col-sm-3 col-form-label">Experience Level</label>
                                    <div class="col-sm-9">
                                        <input type="range" class="form-range" name="experience" id="experience" min="1"
                                            max="10" value="<%= experience %>" readonly>
                                        <output class="form-range-value" id="experienceValue">
                                            <%= experience %>
                                        </output>
                                    </div>
                                </div>

                                <div id="buttonContainer" class="d-flex justify-content-end">
                                    <button type="submit" id="save" class="btn btn-primary"
                                        style="display: none;">Save</button>
                                    <button type="button" id="cancel" class="btn btn-secondary ml-2"
                                        style="display: none;">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/js/editProfile.js"></script>
    <%- include("templates/footer") %>