<%- include("templates/header") %>
    <!-- <div class="container-fluid px-5 mt-5">
        <h1>Hello, <%= name %>!</h1>
        <p>Email: <%= email%></p>
        <p>User Type: <%= user_type %></p>
        <br>
      
        <input type="button" value="edit" id="edit">
    </div>

    <div id="editForm" class="m-5" style="display:none">
        <form action="/profileUpdate" method="post">
        <label class="form-label">Username</label>
        <input class="form-control" type="text" name="name" id="name" value="<%= name %>">
        <br>
        <label class="form-label">Email address</label>
        <input type="email" class="form-control" name="email" id="email" value="<%= email%>">

        <input class="mt-5" type="button" id="save" value="save">
    </form>
    </div> -->
    <section style="background-color: #1B2021;">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-dark rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0 bg-dark" >
                            <li class="breadcrumb-item text-light">
                                <%= name %>'s User Profile
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center bg-dark text-light">
                            <img src="https://i.kym-cdn.com/editorials/icons/mobile/000/000/705/derp.jpg" alt="avatar"
                                class="rounded-circle img-fluid" style="width: 150px; height: 150px;">
                            <h5 class="my-3">
                                <%= name %>
                            </h5>
                            <p class="text mb-1">
                                <%= email%>
                            </p>
                            <p class="text mb-4">User Type: <%= user_type %>
                            </p>
                            <div class="d-flex justify-content-center mb-2">
                                <button type="button" id="editButton" class="btn btn-outline-success">Edit
                                    Profile</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4 bg-dark" >
                        <div class="card-body">
                            <form id="profileForm" class="needs-validation bg-dark">
                                <div class="row mb-3">
                                    <label for="name" class="col-sm-3 col-form-label">Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="name" value="<%= name %>" readonly>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <label for="email" class="col-sm-3 col-form-label">Email</label>
                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" id="email" value="<%= email%>"
                                            readonly>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <label for="availability" class="col-sm-3 col-form-label">Availability</label>
                                    <div class="col-sm-9">
                                        <button type="button" id="scheduleButton" class="btn btn-outline-info">Check Out Schedule</button>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mb-3">
                                    <label for="exercise-preference" class="col-sm-3 col-form-label">Exercise
                                        Preference</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" id="exercise-preference" rows="3"
                                            readonly>Exercise Preference</textarea>
                                    </div>
                                </div>
                                <div id="buttonContainer" class="d-flex justify-content-end">
                                    <button type="submit" id="saveButton" class="btn btn-primary" style="display: none;">Save</button>
                                    <button type="button" id="cancelButton" class="btn btn-secondary ml-2" style="display: none;">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const editButton = document.getElementById('editButton');
            const saveButton = document.getElementById('saveButton');
            const cancelButton = document.getElementById('cancelButton');
            const formElements = document.querySelectorAll('#profileForm input, #profileForm textarea');
            const originalValues = {};
    
            editButton.addEventListener('click', function () {
                editButton.style.display = 'none';
                saveButton.style.display = 'inline-block';
                cancelButton.style.display = 'inline-block';
    
                formElements.forEach(function (element) {
                    element.removeAttribute('readonly');
                    originalValues[element.id] = element.value;
                });
            });
    
            cancelButton.addEventListener('click', function () {
                editButton.style.display = 'inline-block';
                saveButton.style.display = 'none';
                cancelButton.style.display = 'none';
    
                formElements.forEach(function (element) {
                    element.setAttribute('readonly', true);
                    element.value = originalValues[element.id];
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
        const scheduleButton = document.getElementById('scheduleButton');

        scheduleButton.addEventListener('click', function () {
            window.location.href = '/availabilityData';
        });
    });
    </script>    

    <script src="/js/editProfile.js"></script>
    <%- include("templates/footer") %>