<%- include("templates/header") %>
    <div class="container px-5 mt-5">
        <% if (authentication) { %>
            <br>
            <h3>
                <%= successMessage %>
                    <small class="text-muted">
                        <%= redirectMessage %>
                    </small>
            </h3>
    </div>

    <script>
        setTimeout(() => {
            window.location.href = '/setup';
        }, 3000);
    </script>
    <% } else { %>
        <div class="container">
            <h3>
                <%= errorMessage %>
            </h3>
            <a href="/signup">Try again</a>
            <% } %>
        </div>
<%- include("templates/footer") %>