
    <h5 style="color:rgb(15, 99, 172)"><%= exercise.exerciseName%></h5>
    
        <fieldset id="<%=exercise.exerciseName%>">
        <p>Would you like to keep this exercise in your next routine?</p>
        <input type="radio" class="btn-check" name="<%=exercise.exerciseName%>" id="<%= exercise.exerciseName%>1" value="yes" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="<%= exercise.exerciseName%>1">Yes</label>
      
        <input type="radio" class="btn-check" name="<%=exercise.exerciseName%>" id="<%= exercise.exerciseName%>2" value="no" autocomplete="off" >
        <label class="btn btn-outline-primary" for="<%= exercise.exerciseName%>2">No</label>
      </fieldset>
    
    

